

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("AcetoFive.jpeg");
    background-size: cover; /* no matter how wide, image covers full width of page */
    text-align: center; /* centre text */
    color: white; /* text colour */
    font-weight: bold;
}

h1 {
    color: goldenrod;
} /* overwrites body text styling by specifying h1 */

#message-el {

}

button {
    text-color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}